indictranstoolkit==1.1.1
KashmiriNormalizer==0.1.0
pytorch-ignite==0.5.4
pytorch-lightning==2.6.5
sacrebleu==2.6.0
sentence-transformers==5.4.1
sentencepiece==0.2.1
torch==2.10.0+cu128
torchao==0.10.0
torchaudio==2.10.0+cu128
torchcodec==0.10.0+cu128
torchdata==0.11.0
torchinfo==1.8.0
torchmetrics==1.9.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision==0.25.0+cu128
transformers==4.46.1
